.background_center{
    -fx-background-image:url("../image/BG.png");
    -fx-background-size: cover;
}

.vbox_background_au{
    -fx-background-image:url("../image/aboutUs.png");
    -fx-background-size: cover;
}

.mouse-moved: hover{
    -fx-background-radius: 20;
    -fx-background-color: #EDF5F9;
}

.mouse-moved-au: hover{
    -fx-text-fill: #5E17EB;
}

.transparent{
    -fx-background-color: rgba(0,0,0,0);
}

.white-background{
    -fx-background-color: white;
}

.home-selected{
    -fx-background-radius: 20;
    -fx-background-color: #EDF5F9;
}

.round-layout{
    -fx-border-radius: 20;
    -fx-border-color: #4D788D;
    -fx-border-width: 3;

}

.card-au{
    -fx-background-color: white;
    -fx-background-radius: 30px;
    -fx-border-radius: 30;
    -fx-border-color: #4D788D;
    -fx-border-width: 3;
}
