.transparent{
    -fx-background-color: rgba(0,0,0,0);
}

.round-layout{
    -fx-border-radius: 20;
    -fx-border-color: #4D788D;
    -fx-border-width: 3;

}

.mouse-moved: hover{
    -fx-background-color: grey;
}

.mouse-moved-text: hover{
    -fx-text-fill: grey;
}

.search-box{
    -fx-background-color: white;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-border-color: grey;
}

.background{
    -fx-background-image:url("../image/BG.png");
    -fx-background-size: cover;
}

.home-selected{
    -fx-background-radius: 20;
    -fx-background-color: #EDF5F9;
}

.white-background{
    -fx-background-color: white;
}

.new-round-background{
    -fx-background-color: #D8E3E4;
    -fx-background-radius: 20px;
}

