.transparent{
    -fx-background-color: rgba(0,0,0,0);
}

.round-layout{
    -fx-border-radius: 5;
    -fx-border-color: #D7D7D7;

}

.selected{
    -fx-background-color: #F3F3F3;
}

.mouse-moved: hover{
    -fx-background-color: grey;
}

.mouse-moved-text: hover{
    -fx-text-fill: grey;
}

.search-box{
    -fx-background-color: white;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-border-color: grey;
}

.background_center{
    -fx-background-image:url("../image/BG.png");
    -fx-background-size: cover;
}

